$primary:#3299ef;
$secondary:#eceece;
$success:#1ac888;
$danger:crimson;
$warning:#f7b84b;
 //spacing 
 $base-padding:0.75rem;
 $base-margin:0.75rem;
 //borders
$base-border-thinkness:1px;
$base-border-radius:20px;